@charset "UTF-8";
/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/*official palletes
$backround:#e7ecef;
$light:#a3cef1;
$gray: #8b8c89;
$secundary:#6096ba;
$primary:#274c77;*/
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  font-size: 18px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #123d5c;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #597a90;
  font-size: 25px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
}

/*header*/
.header__contact {
  padding: 30px;
  font-size: 14px;
  text-align: center;
  background-color: #c0d3dd;
  color: #123d5c;
}

.header__contact-email {
  text-decoration: none;
  color: #123d5c;
}

.header__contact a:hover {
  color: #b23444;
}

.header__inner {
  max-width: 100%;
  min-height: 200px;
}

.max__width {
  max-width: 1100px;
  margin: 0 auto;
}

.header__logo {
  border: 2px solid #123d5c;
  border-radius: 150px;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  position: absolute;
  top: 2%;
  right: 2%;
  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

.header__title, .header__subtitle {
  padding-left: 15px;
}

/*menu
*/
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu__item {
  margin-bottom: 15px;
  padding: 0;
  flex: 1 1 16.6666666667%;
}

.menu__item:not(:last-child) {
  border-right: 2px solid #597a90;
}

.menu__link {
  display: block;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #123d5c;
  text-align: center;
}

.menu__link:hover {
  background-color: #597a90;
  color: white;
  padding: 20px;
  transform: scale(1.2);
}

/*firstsection*/
.firstsection {
  background-color: white;
  padding: 15px;
  text-align: center;
  background-color: #c0d3dd;
  color: #123d5c;
}

.firstsection__title {
  color: #123d5c;
  margin-top: 30px;
  padding-left: 15px;
}

.firstsection__title::after {
  content: "";
  display: block;
  border: 1px solid #123d5c;
  width: 100px;
  height: 5px;
  background-color: #123d5c;
  margin: 30px auto;
}

.firstsection__text {
  text-align: left;
  color: #123d5c;
  margin-top: 30px;
  padding-left: 15px;
}

/*secondsection*/
.secondsection {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.secondsection__left {
  border: 5px solid #123d5c;
  min-height: 300px;
  margin-left: 15px;
}

.secondsection__right {
  border: 5px solid #123d5c;
  background-color: #c0d3dd;
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #123d5c;
  padding-top: 7.5px;
  padding-bottom: 15px;
  min-height: 300px;
}

.secondsestion__right__text {
  font-size: 18px;
  text-align: left;
  padding: 15px;
}

/* footer*/
.footer a {
  color: #123d5c;
}

.footer a:hover,
.footer a:focus {
  color: #b23444;
}

/*.footer__grid {
	padding: $doublespace;
	background-color: $white;
	color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: $space;
}*/
.footer__copyright {
  padding: 15px;
  font-size: 14px;
  text-align: center;
  background-color: #c0d3dd;
  color: #123d5c;
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__links li:not(:last-child) {
  margin-bottom: 7.5px;
}

.footer__kontakt {
  padding-left: 15px;
}

.footer__tel, .footer__mail {
  color: #123d5c;
}

.footer__title::after {
  content: "";
  display: block;
  border: 1px solid #123d5c;
  width: 100px;
  height: 2px;
  background-color: #597a90;
}/*# sourceMappingURL=style.css.map */