@use 'space';
@use 'colors';
@use 'button';

.Firstsection__collections {max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: space.$space;
    padding-top: 0
    ;}


    .Firstsection__collections {
        border: 2px solid colors.$secondary;
        background-color: colors.$white;
        border-radius: 3px;
        width: 75%;
        min-height: 300px;
        text-align: center;
        margin: space.$doublespace auto;
        padding-bottom: space.$space;
        box-shadow: 2px 2px 2px rgb(173, 167, 167);
      }

@media screen and (min-width:650px) {
    .Firstsection__collections {grid-template-columns: 1fr 1fr;}
    
}