@use "space";
@use "colors";
@use "button";


/******************Blog*************************/
.Firstsection__collections {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: space.$space;
  background-color: colors.$white;
  border-radius: 3px;
  width: 100%;

  text-align: center;
  margin: space.$doublespace auto;

  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

.Firstsection__collections img {
  width: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

.Firstsection__collections__button a {
  color: colors.$white;
  text-decoration: none;
}
a:hover {
  color: colors.$contrast;
}

.Firstsection__collections__list {
  padding-bottom: space.$doublespace;
}

@media screen and (min-width: 650px) {
  .Firstsection__collections {
    grid-template-columns: 1fr 1fr;
  }
}
