@use 'colors';
@use 'fonts';
@use 'base';
@use 'space';
@use 'header';
@use 'menu';
@use 'footer';
@use 'button';
@use 'form';

/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}


/******************Firstsection*************************/
.Firstsection,
.FirstSectionOnas,
.FirstSectionKontakty,
.SecondsectionProjekty {
  padding: space.$space;
  text-align: center;
  color: colors.$primary;
  background-color: rgba(colors.$lightblue, space.$background-opacity);
}

.Firstsection__title,
.SecondSectionKontakty__title,
.FirstSectionKontakty__title,
.FirstSectionOnas__title,
.SecondsectionProjekty__title {
  color: colors.$primary;
  margin-top: space.$doublespace;
  padding-left: space.$space;
  text-align: center;
}

.Firstsection__title::after {
  content: "";
  display: block;
  border: 1px solid colors.$primary;
  width: 100px;
  height: 5px;
  background-color: colors.$primary;
  margin: 30px auto;
}

.Firstsection__text,
.FirstSectionOnas__text {
  text-align: left;
  color: colors.$primary;
  margin-top: space.$doublespace;
  padding-left: space.$space;
}

@media screen and (min-width: 650px) {
}

/******************Secondsection*************************/

.Secondsection,
.FirstsectionProjekty {
  display: grid;
  grid-template-columns: 1fr;
  gap: space.$doublespace;
  margin-top: space.$doublespace;
}

.Secondsection__left,
.FirstsectionProjekty__left {
  border: 1px solid colors.$white;
  min-height: 300px;
  margin: 0 space.$space;
  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

.Secondsection__left img,
.FirstsectionProjekty__left img {
  height: 100%;
  object-fit: cover;
}

.Secondsection__right,
.FirstsectionProjekty__right {
  border: 5px solid colors.$primary;
  background-color: colors.$lightblue;
  text-align: center;
  font-size: 25px;
  font-family: fonts.$font-special;
  color: colors.$primary;
  padding-top: space.$space/2;
  margin: 0 space.$space;

  min-height: 300px;
  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

.Secondsection__right__title,
.FirstsectionProjekty__right__title {
  border: 2px solid colors.$secondary;
  background-color: rgba(colors.$lightblue, space.$background-opacity);
  color: colors.$primary;
  display: inline;
  font-size: 25px;
  margin: 0 space.$space;
  padding: space.$space;
}

.Secondsestion__right__text,
.FirstsectionProjekty__right__text {
  font-size: 18px;
  text-align: left;
  padding: space.$space;
  padding-bottom: 0;
}



/******************Projekty*************************/

.SecondsectionProjekty__title,
.ThirdsectionProjekty__title {
  padding-left: space.$space;
  text-align: left;
}

.FirstsectionProjekty__left {
  margin-bottom: space.$doublespace;
  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

@media screen and (min-width: 950px) {
  .Secondsection,
  .FirstsectionProjekty {
    display: grid;
    gap: space.$doublespace;
    grid-template-columns: 1fr 1fr;
    margin: space.$doublespace 0;
  }

  .FirstsectionProjekty__left {
    margin-bottom: 0;
  }
}

.ThirdsectionProjekty {
  margin-bottom: space.$doublespace;
  padding: space.$space;
  text-align: center;
}

.ThirdsectionProjekty__picture {
  border: 1px solid white;
  margin: space.$doublespace 0 0 0;
  width: 100%;
}

.ThirdsectionProjekty__picture img {
  width: 100%;
  max-height: 325px;
  object-fit: cover;
}

.SecondsectionProjekty__text__list__item,
.ThirdsectionProjekty__text__list__item {
  text-align: left;
}

.ThirdsectionProjekty__title::after {
  content: "";
  display: block;
  border: 1px solid colors.$primary;
  width: 100px;
  height: 2px;
  background-color: colors.$secondary;
}

.SecondsectionProjekty__title::after {
  content: "";
  display: block;
  border: 1px solid colors.$primary;
  width: 100px;
  height: 2px;
  background-color: colors.$secondary;
}

.FirstsectionProjekty__right__text--bigger {
  text-align: left;
  margin-bottom: 0;
  padding-left: space.$space;
}

.FirstsectionProjekty__right__text {
  margin: space.$space 0;
  padding-top: 0;
}


/******************O nás*************************/

.FirstSectionOnas__title::after {
  content: "";
  display: block;
  border: 1px solid colors.$primary;
  width: 100px;
  height: 5px;
  background-color: colors.$primary;
  margin: 30px auto;
}

/******************Vizitka*************************/

.SecondSectionOnas__portfolio__item {
  border: 2px solid colors.$secondary;
  background-color: colors.$lightblue;
  border-radius: 3px;
  width: 75%;
  min-height: 300px;
  text-align: center;
  margin: space.$doublespace auto;
  padding-bottom: space.$space;
  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

.SecondSectionOnas__portfolio__photo {
  border: 5px solid white;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .SecondSectionOnas__portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/******************Kontakty*************************/

.FirstsectionKontakty {
  padding: 0 space.$space space.$doublespace space.$space;
}

.FirstSectionKontakty__icon {
  max-width: 90px;
  max-height: 90px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: colors.$white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

.SecondtSectionKontakty__icon {
  max-width: 90px;
  max-height: 90px;
  margin: 0 auto;
  display: flex;
  border-radius: 27px;
  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

.FirstSectionKontakty__icon img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.FirstSectionKontakty__description {
  padding-top: space.$space;
  font-family: fonts.$font-special;
  display: block;
  color: colors.$primary;
  font-size: 18px;
  text-align: center;
  justify-content: center;
}

.FirstSectionKontakty__description a {
  text-decoration: none;
  color: colors.$primary;
}

.FirstSectionKontakty__description a:hover,
.FirstSectionKontakty__description a:focus {
  color: colors.$contrast;
}

.FirstsectionKontakty__right__title::after {
  content: "";
  display: block;
  border: 1px solid colors.$primary;
  width: 100px;
  height: 5px;
  background-color: colors.$primary;
  margin: 30px auto;
}

.SecondSectionKontakty__title {
  text-align: left;
}

@media screen and (min-width: 650px) {
  .FirstSectionKontakty__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .SecondSectionKontakty__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.SecondSectionKontakty__item {
  padding-bottom: space.$space;
}



/******************Partneři*************************/
.FirstsectionPartneri__right__title,
.FirstsectionKontakty__right__title {
  color: colors.$primary;
  text-align: center;
  font-family: fonts.$font-special;
}

.FirstsectionPartneri__right__title::after {
  content: "";
  display: block;
  border: 1px solid colors.$primary;
  width: 100px;
  height: 5px;
  background-color: colors.$primary;
  margin: 30px auto;
}

.FirstsectionPartneri,
.FirstsectionKontakty {
  background-color: rgba(colors.$lightblue, space.$background-opacity);
}

.FirstsectionPartneri__item {
  border: 2px solid colors.$secondary;
  background-color: colors.$lightblue;
  border-radius: 3px;
  width: 75%;
  text-align: center;
  margin: space.$doublespace auto;
  padding-bottom: space.$space;
  box-shadow: 2px 2px 2px rgb(173, 167, 167);
}

.FirstsectionPartneri__icon,
.FirstSectionKontakty__icon {
  border: 5px solid white;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  object-fit: cover;
  padding: 3px;
}

.FirstsectionPartneri__description {
  text-align: center;
}

.FirstsectionPartneri,
.FirstSectionKontakty {
  display: grid;
  grid-template-columns: 1fr;
}

.FirstsectionPartneri__right,
.FirstSectionKontakty__right {
  display: grid;
  gap: space.$space;
  grid-template-columns: 1fr;
}

.FirstsectionPartneri__button {
  margin-bottom: space.$doublespace;
}

@media screen and (min-width: 700px) {
  .FirstsectionPartneri__grid,
  .FirstsectionKontakty__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .FirstsectionPartneri__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .FirstsectionKontakty__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .FirstsectionPartneri__left,
  .FirstsectionKontakty__left {
    padding-left: space.$doublespace * 2;
  }
}

.FirstsectionPartneri__button {
  padding-left: space.$space;
}

.FirstsectionPartneri__item p a {
  text-decoration: none;
  color: colors.$secondary;
}

.FirstsectionPartneri__item p a:hover {
  color: colors.$contrast;
}

.FirstsectionProjekty__right__title + p {
  font-weight: 700;
}

.Secondsection__right__title + p {
  font-weight: 700;
}
