<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="Wrapp">
      <header class="Header">
        <div class="Header__contact"></div>

        <div class="Header__inner">
          <div class="Max__width">
            <h1 class="Header__title">Spokojení zdravotníci</h1>
            <h2 class="Header__subtitle">Nezisková organizace</h2>
          </div>
        </div>
        <img class="Header__logo" src="/images/logo.svg" alt="logo" />
        <div class="Max__width">
          <nav class="Header__menu">
            <ul class="Menu__list">
              <li class="Menu__item">
                <a href="/" class="Menu__link">Hlavní stránka</a>
              </li>
              <li class="Menu__item">
                <a href="/onas/" class="Menu__link">O nás</a>
              </li>
              <li class="Menu__item">
                <a href="/projekty/" class="Menu__link">Projekty</a>
              </li>
              <li class="Menu__item">
                <a href="" class="Menu__link">Blog</a>
              </li>
              <li class="Menu__item">
                <a href="/partneri/" class="Menu__link">Partneři</a>
              </li>
              <li class="Menu__item">
                <a href="/kontakty/" class="Menu__link">Kontakty</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <main class="Main">

        {{content | safe}} 

    </main>


<!-- Footer -->
<footer class="Footer">
  <div class="Max__width">
    <div class="Footer__kontakt">
      <h3 class="Footer__title">Kontakt</h3>
      <p>
        <span class="Footer__tel">Telefon:</span><br />
        <span class="Footer__tel">+420 724 788 007</span>
      </p>
      <p>
        <span class="Footer__mail">E-mail:</span><br />
        <a href="mailto:spokojenizdravotnicigmail.com"
          >spokojenizdravotnici@gmail</a
        >
      </p>
    </div>
  </div>

  <div class="Footer__copyright">&copy;Spokojení zdravotníci</div>
</footer>
</div>
<script src="fslightbox.js"></script>
</body>
</html>